{% extends "layout.html" %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    containerClasses: "govuk-width-container app-apprentice-service-header"
  }) }}

<div class="das-account-header das-account-header--employer">
  <div class="govuk-width-container">

      <p class="das-account-header__title">User Name</p>
      <nav class="das-user-navigation" id="das-user-navigation">
          <ul class="das-user-navigation__list" role="menu">
              <li role="menuitem" class="das-user-navigation__list-item">
                  <a class="das-user-navigation__link" href="start">Sign out</a>
              </li>
          </ul>
      </nav>
  </div>
</div>
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service
    </span>
  </p>
</div>

{{ govukBackLink({
  text: "Back to organisation details",
  href: "organisation-details"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group govuk-!-padding-bottom-4">
        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Does your organisation have a trading name?
            </h1>
          </legend>
          <span id="how-contacted-conditional-hint" class="govuk-hint">
            Select one option.
          </span>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio" value="Yes" data-aria-controls="conditional-how-contacted-conditional" checked="checked">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
              <div class="govuk-form-group">
                <label class="govuk-label" for="trading-name-Yes">
                  What is your organisation's trading name?
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="trading-name-Yes" name="trading-name-Yes" type="Yes" spellcheck="false" value="Learnovte">
              </div>

            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>


        <form action="/form-handler" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Add feedback
                </h2>
              </legend>
              <span id="dob-hint" class="govuk-hint">
                Do not include personal or financial information.
              </span>
              <div class="govuk-date-input" id="feedback">
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
              </div>
            </fieldset>
            <button class="govuk-button" data-module="govuk-button">
              Send feedback
            </button>
          </div>
        </form>

        <div class="feedback-section">

        </div>



      </div>

    </div>
  </div>

{% endblock %}
