{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}



{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service
    </span>
  </p>
</div>

{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sign in</h1>

        <form action="dashboard" method="post"  novalidate>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="email-address">
              ESFA email address
            </label>
            <span id="email-address-hint" class="govuk-hint">
              Email addresses ending in @sfa.bis.gov.uk or @FASST.org.uk
            </span>
            <input class="govuk-input govuk-input--width-20" id="email-address" name="email-address" type="text" aria-describedby="email-address-hint">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="password">
              Password
            </label>
            <input class="govuk-input govuk-input--width-20" id="password" name="password" type="text" aria-describedby="password-hint">
          </div>



          <button class="govuk-button" data-module="govuk-button">
            Sign in
          </button>

        </form>
        <p class="govuk-body"><a href="#" class="govuk-link">Forgotten your password?</a></p>
      </div>
    </div>


{% endblock %}
